body{
    display: table;
    color:gray;
    background-image: url("2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  *{
    color: gray;
    margin: 30;
    padding: 30;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
  }

  .wrapper{  
    position: absolute;
    top: 100px;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
  }
 .row{
   color:black;
 }